body {
  max-height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

#mainMenuGrid {
  max-height: inherit;
}

#mainGridRow {
  height: auto;
}

#mainGridBar {
  height: 70px;
}

#mainbuttons {
  height: 40vh;
}

#buttoncontent {
  height: auto;
}

#gridtopbar {
  position: fixed;
  top: 0px;
  margin: 0px!important;
}

#inventoryGrid {
  height: 90vh;
  margin-top: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#gridFilterbar {
  margin-top: 50px;
}